:root {
    --main-color: #758a96;
    --second-color: #d3d6c7;
    --third-color: #5f653d;
    --main-darker: #3d5461;
    --lightest-color: #fff;
    --darkest-color: #191e22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightest-color);
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
a, button, .portfolio-box, .design-box, .lightbox:after, img { transition: all 0.5s ease-out; }
a { text-decoration: none; color: var(--main-color); }
a:hover { color: var(--third-color); }

/* H TAGS */
h1, h4, h5 {
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
}
h2, h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}

/* HEADER */
header {
    background-color: var(--main-color);
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 1px 1px 1px var(--darkest-color);
    text-align: center;
}
.title {
    width: 100%;
    margin: 50px auto 150px;
    order: 2;
}
.title h1 {
    color: var(--lightest-color);
    font-size: 5.4vw;
    margin: 0 auto;
    letter-spacing: -2px;
}
.title h1 a, .title h1 a:hover {
    color: var(--lightest-color);
}
.title h2 {
    color: var(--lightest-color);
    text-transform: lowercase;
    font-size: 2vw;
    line-height: 1;
}
nav {
    width: 100%;
    margin: 50px auto;
    text-transform: uppercase;
}
nav ul li {
    display: inline-block;
    margin: 10px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
}
nav ul li a {
    padding: 5px 10px 3px;
    color: var(--lightest-color);
}
nav ul li a:hover {
    color: var(--lightest-color);
    background-color: var(--main-color);
}

/* SECTIONS */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1220px; max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
section:not(:last-child) {
    border-bottom: 1px solid var(--second-color);
}
section h3 {
    font-size: 32px;
    color: var(--main-darker);
    margin: 10px;
    width: 100%;
}

/* ABOUT ME */
.about-me { padding: 0 20px; }
.main-content {
    order: 2;
    width: 980px; max-width: calc(80% - 20px);
    padding: 10px;
}
.main-content p {
    padding: 10px;
}
.skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.skills li { list-style: none; }
.skill-box {
    transition: all 0.7s ease-out;
    padding: 10px;
    margin: 5px;
    width: calc(20% - 10px);
    position: relative;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
}
.skill-box:hover { font-size: 0; }

.color-one {
    background-color: var(--second-color);
    color: var(--third-color);
}
.color-one:hover { color: var(--second-color); }
.color-one ul {
    color: var(--third-color);
    /*background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.6));*/
}
.color-two {
    background-color: var(--main-color);
    color: var(--lightest-color);
}
.color-two:hover { color: var(--main-color); }
.color-two ul, .color-three ul {
    color: var(--lightest-color);
    /*background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));*/
}
.color-three {
    background-color: var(--third-color);
    color: var(--lightest-color);
}
.color-three:hover { color: var(--third-color); }

.skill-box ul {
    transition: all 0.7s ease-out;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px;
    width: 100%;
    opacity: 1;
    /*top: 100%;
    padding: 0;
    min-height: 0;
    line-height: 0;*/
    top: 0;
    padding: 15px;
    min-height: 130px;
    line-height: 1;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    text-transform: none;
    transform: scale(0);
}
.skill-box ul li { flex: 100%; }
.skill-box:hover ul {
    opacity: 1;
    /*top: 0;
    padding: 15px;
    min-height: 130px;
    line-height: 1;*/
    transform: scale(1);
}

/* ABOUT SIDE INFO */
.quick-info {
    width: 220px; max-width: 20%;
    text-align: center;
}
.quick-info img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid var(--second-color);
    margin: -100px 0 0;
}
.info-box {
    color: var(--main-color);
    margin: 25px 0;
}
.info-box h4 {
    font-size: 28px;
}
.info-box p {
    font-family: 'Libre Baskerville', serif;
    line-height: 1;
    font-size: 18px;
}
p.about-text {
    color:var(--third-color);
}
p.about-text::before {
    content: "";
    display: block;
    background-image: url("../images/leaf-beige.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 34px;
    margin: 20px 0;
}

/* PORTFOLIO */
.portfolio-boxes, .design-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.portfolio-boxes a {
    color: var(--lightest-color);
    text-decoration: none;
}

.portfolio-box, .design-box {
    text-overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.85;
    outline: 1px solid var(--lightest-color);
    outline-offset: -6px;
    margin: 5px;
}
.portfolio-box:hover, .design-box:hover {
    opacity: 1;
    transform: scale(1.03);
}

.initial-box {
    width: calc(100% - 10px);
    margin: 0 auto;
    background-position: top;
}
.sub-box {
    width: calc(33.33% - 10px);
}

.portfolio-text {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    background: linear-gradient(rgba(117,138,150,0), rgba(117,138,150,0), rgba(117,138,150,1));
    padding: 200px 15px 15px;
    margin: 0;
}
.portfolio-text h4, .design-box h5 {
    background-color: var(--main-darker);
    display: inline;
    padding: 5px 8px 3px;
    font-size: 20px;
}
.design-box h5 {
    font-size: 16px;
    color: var(--lightest-color);
}
.portfolio-text p, .design-box p {
    display: block;
    margin: 8px 0 0;
    font-family: 'Libre Baskerville', serif;
}
.design-box p {
    font-size: 14px;
    color: var(--lightest-color);
}

.design-boxes h4 {
    width: 100%;
    margin: 20px 5px 5px;
    font-size: 24px;
}
.design-boxes h4:first-of-type { margin-top: 0; }
.design-box {
    margin: 5px;
    width: calc(25% - 10px);
}
.design-box .portfolio-text { padding: 130px 15px 15px; }

/* CSS-ONLY LIGHTBOX */
.lightbox {
    position: fixed;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 60px;
    background-color: rgba(0,0,0,0);
    align-items: center;
    justify-content: center;
    display: flex;
}
.lightbox:target {
    background-color: rgba(0,0,0,0.85);
    z-index: 9000;
}
.lightbox img {
    display: block;
    transform: scale(0);
    max-width: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    border: 20px solid var(--lightest-color);
    background-color: var(--lightest-color);
}
.lightbox:target img { transform: scale(1); }
.lightbox::after {
    content: "X";
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: -80px;
    padding: 20px;
    line-height: 1;
    color: var(--lightest-color);
    font-size: 30px;
    text-shadow: 0 0 2px #000;
}
.lightbox:target::after { right: 0; }

/* FOOTER */
footer {
    background-color: var(--main-darker);
    padding: 0 20px 20px;
    text-align: center;
    text-transform: uppercase;
}
footer a {
    color: var(--second-color);
    text-decoration: none;
}
footer a:hover { color: var(--lightest-color); }
footer ul li {
    display: inline-block;
    margin: 0;
    color: var(--lightest-color);
}
.foot-links ul li a {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 8px ;
    margin: 0 2px;
    line-height: 1;
    display: block;
}
.foot-links ul li a:hover { color: var(--main-darker); }
.foot-links {
    width: 800px; max-width: calc(100% - 40px);
    padding: 20px;
    margin: 0 auto 20px;
    border-bottom: 2px solid var(--main-color);
}
.foot-info {
    letter-spacing: 2px;
}
.foot-info ul li:not(:last-child)::after {
    content: " \2022 ";
    font-size: 0.8em;
}